.welcomeDiv {
    background: #80659F;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.welcomeDiv h1 {
    margin: 0px;
    padding: 0px 0px 10px 0px;
}
.gameDiv {
    background: #9DCF7D;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.gameDiv h1 {
    margin: 0px;
    padding: 0px 0px 10px 0px;
}
.butt {
    margin: 10px !important;
}