.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
}

div {
  position: relative;
}

img {
  width: 100%;
  /* the below removes the default 3px bottom margin */
  vertical-align: top; 
  position: absolute;
}

.cell {
  position: relative;
  padding-bottom: 100%;
}

.turn {
  margin: 0px 10px;
  padding: 30px;
  background: #AA7C39;
  border-radius: 10px;
}